$std-margin : 50px;
$pokeApiFont : 2em 'Russo One';
$fireTypeBackground :  linear-gradient(to bottom, #b42222, #eb6969);
$waterTypeBackground : linear-gradient(to bottom, #1b31ad, #627cb4);
$grassTypeBackground : linear-gradient(to bottom, #35b8a8, #9ec35f);
$rockTypeBackground : linear-gradient(to bottom, #c7b407, #994b01);


$media-margin : 0 170px 0 170px;
$navBarSize : 4rem;


%bodyDefault{
    color:white;
    height : 980px;
}

%waterType {
    @extend %bodyDefault;
    background: $waterTypeBackground;
    .breadcrumb{
        background : #1b31ad;
    }
}

%fireType{
    @extend %bodyDefault;
    background: $fireTypeBackground;
    .breadcrumb{
        background : #b42222;
    }
}

%grassType{
    @extend %bodyDefault;
    background: $grassTypeBackground;
    .breadcrumb{
        background-color : #35b8a8;
    }
}

%rockType{
    @extend %bodyDefault;
    background: $rockTypeBackground;
    .breadcrumb{
        background-color : #777008;
    }
}

#indexPage {

    background-image : url("./Images/gym-bg-img.png");
    background-repeat: no-repeat;
    background-position: center;
    
}
.row{
    margin-top : 100px;
    opacity:0;
    display:flex;
    justify-content: space-around;
    height: 350px;

}
.row.slideDown{
    position : relative;
    animation : slideDown 1s forwards;
}
#page1{
    @extend %grassType;
}

#page2{
    @extend %fireType;
}

#page3{
    @extend %waterType;
}

#page4, #page5, #page6 {
    @extend %rockType;
}

#pokeImg {
    height: 600px;
    width: 550px; 
}
  
#headerImg {
    height: 92px;
    width: 250px; 
}
  
input{
    width : 40%;
    text-align : center;
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
nav{
    opacity:0;
}
  
nav:hover {
    opacity:1;
}
  
#pokeLogo-navBar{
    height :$navBarSize;
}

#pokeball-icon{
    height : $navBarSize;
    align-items: baseline;
}

#pokeball-icon-landing{
      height : 70%;
}

.breadcrumb{
    margin-bottom : $std-margin;
    opacity:0.8;
}
.media{
    margin: $std-margin;
}

.media-body{
    font: $pokeApiFont;
    margin : 0 $std-margin;
}

.container{
    font:$pokeApiFont;
    margin-top : $std-margin;
    text-align:center;
}
  /*# sourceMappingURL=main.css.map */
  
.col-md-3{
    max-width: 33%;
}

.media-img{
    margin : $media-margin;
    position:relative;
    animation : slideInRight 1.5s forwards;
}
.media-body{
    margin : $media-margin;
    position:relative;
    animation : slideInLeft 1.5s forwards;
}

#pokeball-icon-landing:hover{
    opacity : 0.4;
}
  
@keyframes slideInLeft{
    from{
        left: -1800px;
    }
    to{
        left:0;
    }
}
  
@keyframes slideInRight{
      from{
        right : -1800px;
    }
      to{
        right : 0;
    }
}

@keyframes slideDown{
    from{
        opacity:0;
        top: 1110px;
    }
    to{
        opacity:1;
        top:0px;
    }
}